body{
    background-color: rgba(7, 116, 79, 0.47);
}

.titulo-principal{
    color: white;
}

.titulo-secundario{
    color: beige;
}

.texto-principal{
    text-align: center;
    font-size: 150%;
}

.imagem{
    width: 25%;
    justify-content: center
    ;
}